<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div>
		
		
		<div class="page_haeder">
			<div class="page_header_logout">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-logout"/>
				</form>
			</div>
			<div class="page_header_links">
				<span class="nav"><a href="/recipes">Recipies</a></span>
				<span class="nav"><a href="/suggestions">Suggestions</a></span>
				<span class="nav"><a href="/foodcloset">Food closet</a></span>
				<span class="nav" sec:authorize="hasAuthority('ADMIN')"><a href="/materials">Materials settings</a></span>
				<span class="nav" sec:authorize="hasAuthority('ADMIN')"><a href="/measurements">Measurement settings</a></span>
				
			</div>
		
		</div>
		
		<h2>Recipes list</h2>
		
		
		<div class="recipes_list">
			<div sec:authorize="hasAuthority('ADMIN')"><span class="div_add_recipe"><a href="add_recipe">Add New Recipe</a></span></div>
			<form th:action="@{/recipes}" method="get">
					<input type="text" name="search" id="recipes_search" />
					<input type="submit" value="Search" class="btn" />
				</form>
			<table>
				<tr>
					<th class="tl">Title</th>
					<th class="tl">Portionsize</th>
					<th class="tl">Time</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
				
				<tr th:each="recipe: ${recipes}">
					<td class="tl"><a th:href="@{/show_recipe/{id}(id=${recipe.recipe_id})}" th:text="${recipe.title}"></a></td>
					<td class="tc"><span th:text="${recipe.portionsize}"></span></td>
					<td class="tc"><span th:text="${recipe.minutes}"></span> min</td>
					
					<td class="tc tspaces" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit_recipe/{id}(id=${recipe.recipe_id})}">Edit</a></td>
					<td class="tc" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete_recipe/{id}(id=${recipe.recipe_id})}">Delete</a></td>
					

				</tr>
			</table>
		</div>
	</div>

	

	
	
</body>
</html>